body {
    background: linear-gradient(320deg, #7e2d7e, #5800ff, #00c6ff);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    background: rgba(0, 0, 0, 0.30);
    border-radius: 20px;
    width: auto;
    padding: 5px;
    height: 565px;
    max-height: 565px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.screen {
    background: rgba(0, 0, 0, 0.30);
    color: white;
    border-radius: 16px;
    font-size: 40px;
    margin-left: 0.5rem;
    overflow-x: auto;
    max-width: 250px;
    width: 230px;
    height: 70px;
    scrollbar-color: #7e2d7e #282c34;
}

.screen::-webkit-scrollbar {
    width: 12px;
}

.screen::-webkit-scrollbar-thumb {
    background-color: #3f163f;
}

.screen::-webkit-scrollbar-track {
    background-color: #7e2d7e;
}

.num {
    font-size: 2rem;
    margin: 0.5rem;
    border-radius: 16px;
    background: aliceblue;
    border: 1px;
    height: 65px;
    width: 65px;
    transition: 0.2s;
}

.num:hover {
    background: #00c6ff;
    color: white;
}

.zer {
    font-size: 2rem;
    margin: 0.5rem;
    border-radius: 16px;
    width: 148px;
    background: aliceblue;
    border: 1px;
    height: 65px;
    transition: 0.2s;
}

.zer:hover {
    background: #00c6ff;
    color: white;
}

.operator {
    font-size: 2rem;
    margin: 0.5rem;
    border: 1px;
    border-radius: 16px;
    height: 65px;
    width: 65px;
    background: #282c34;
    color: white;
    transition: 0.2s;
}

.operator:hover {
    background: #00c6ff;
    color: white;
}

.special {
    font-size: 2rem;
    margin: 0.5rem;
    border: 1px;
    border-radius: 16px;
    height: 65px;
    width: 65px;
    background: #3b4557;
    color: white;
    transition: 0.2s;
}

.special:hover {
    background: #00c6ff;
    color: white;
}

.del {
    font-size: 2rem;
    margin-right: 0.5rem;
    border: 1px;
    border-radius: 16px;
    height: 65px;
    width: 65px;
    background: grey;
    color: black;
    transition: 0.2s;
}

.del:hover {
    background: #00c6ff;
    color: white;
}

.screensection {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

h1 {
    margin: 5px;
}

.error {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    color: red;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.zerosection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.buttonBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}